body{
  overflow-x: hidden;
}
#q{
  color:white;background-color:#2A3D66;border:1px solid white;padding-left:10px;
}
.nav2 ul li a{
  color: white;
    margin-right: 30px;
}
.bgimg{
  background-color: #2A3D66;
 
}
.BT{
  background-color: #2A3D66;
}
.btns{
  color:#2A3D66;background-color:white;border:1px solid #2A3D66;border-radius:20px 20px;
}
.btnn{
  width: 40%;
  color:#2A3D66;
  background-color:white;
  border:1px solid #2A3D66;
  padding-left:10px;
}
#o{
  height: 300px;
  width: 100%;
}
.pic{
  margin-right: 30px;
  height: 5%;
  width: 3%;
}
.ww{
  margin-right: 20px;
  width: 35px;
}

#pic1{
  
  background-size: cover;
  height: 400px;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("login.jpg");
  background-repeat: no-repeat;  
}
#pic2{
  
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("bottom-2.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
  
}
#f1{
  margin-top:140px;
  width: 60px;

}
#f2{
  margin-top:170px;
  width: 60px;
}
.btn1{
  color:#2A3D66;
  background-color:white;
  border:1px solid #2A3D66;
  padding-left:10px;
}
